<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .entry{
            float:left;
            width: 400px;
            height:200px;
        }
    </style>
    <meta charset="UTF-8">
    <title>My Class Journal</title>
</head>
<body>
<h1><b>ENTRIES:</b> </h1>
<div class="row">
    <div class="entry">
        <h3>Date: 9/22/22</h3>
        <p>Today I had 1 class, and worked on homework after</p>
        <img src="../images/check.png" alt="check" width="50" height="50">
    </div>
    <div class="entry">
        <h3>Date: 9/21/22</h3>
        <p>Today I had work from 6AM-3PM and did homework for network security</p>
        <img alt="check" height="50" src="../images/check.png" width="50">
    </div>
    <div class="entry">
        <h3>Date: 9/20/22</h3>
        <p>Today I had 2 classes, and worked on homework in between</p>
        <img src="../images/check.png" alt="check" width="50" height="50">
    </div>
</div>
</body>
</html>